.block-block-content {
  margin-bottom: 40px;
  padding: 8px;
  .block-title {
    font-family: $font-family-sans-serif;
    font-size: 26px;
    margin: 0 0 14px 0;
  }
}

.block-place-region a.button
{
  display:inline-block;
}
