.paragraph {
    &.paragraph--color {
      > .paragraph__column {
        padding-top:0;
        padding-bottom:0;
        .row__title {
          h2 {
            margin-top:15px;
            margin-bottom:0;
          }
        }
      }
    }
  .paragraph__column--container-wrapper {
    padding-top: 30px;
    padding-bottom:30px;
    > .container {
      //display: flex;
      //flex-wrap: no-wrap;
      > [class^="paragraph--type--bp-columns__"] {
        //display: flex;
      }
      .paragraph {
        &.paragraph--color {
          display: block;
        }
        &.paragraph__card {
          > .paragraph__column {
            padding-top: 0;
            .field--name-field-card-body {
              float: left;
              padding: 9px;
            }
            .field--name-field-card-background-image {
              [class^="hero__responsive_"] {
                -webkit-background-size:cover;
                background-size:cover;
                //min-height: 1px;
              }
            }
          }
        }
        // Card Content Alignment field settings
        &.paragraph--alignment-top {
          position: relative;
          > .paragraph__column {
            position: absolute;
            top: 0
          }
        }
        &.paragraph--alignment-right {
          text-align: right;
        }
        &.paragraph--alignment-left {
          text-align: left;
        }
        &.paragraph--alignment-bottom {
          position: relative;
          > .paragraph__column {
            position: absolute;
            bottom: 0
          }
        }
      }
    }
  }
}
.paragraph.paragraph--color + .paragraph > .paragraph__column {
  padding-top: 0;
}