.paragraph {
    &.paragraph--color {
      > .paragraph__column {
        padding-top:0;
        padding-bottom:0;
      }
    }
  .container {
    @media (max-width: $screen-sm-min) {
      display: block;
    }
  .paragraph__column--container-wrapper {
    padding-top: 30px;
    padding-bottom:30px;
    display: flex;
    flex-wrap: no-wrap;
      @media (max-width: $screen-sm-min) {
        display: block;
        padding-bottom:15px;
      }
      [class^="paragraph--type--bp-columns__"] {
        display: flex;
        @media (max-width: $screen-sm-min) {
          margin-bottom:15px;
          &:first-child {
            padding-left:0;
            padding-right:0;
          }
          &:last-child {
            padding-left:0;
            padding-right:0;
            margin-bottom:0px;
          }
        }
        &:first-child {
          padding-left:0;
        }
        &:last-child {
          padding-right:0;
        }
      }
      .paragraph {
        &.paragraph--color {
          display: block;
          border-radius: $border-radius;
        }
        &.paragraph__card {
          > .paragraph__column {
            padding-top: 0;
            .field--name-field-card-body {
              float: left;
              padding: 9px;
              > h1,h2,h3,h4,h5,h6 {
                &:first-child {
                  margin-top:10px;
                }
              }
            }
            .field--name-field-card-background-image {
              [class^="hero__responsive_"] {
                -webkit-background-size:cover;
                background-size:cover;
                min-height: 1px;
              }
            }
          }
        }
        &.paragraph--type--card-basic {
          &.paragraph--width--tiny,
           &.paragraph--width--narrow,
           &.paragraph--width--wide,
           &.paragraph--width--full {
            padding-right:15px;
            padding-left:15px;
          }
          &.paragraph--width--tiny.paragraph--alignment.paragraph--alignment-right {
            @media (min-width: $screen-sm) {
              margin-left:66.66666667%;
            }
          }
          //&.paragraph--width--tiny.paragraph--alignment.paragraph--alignment-left {
          //  @media (min-width: $screen-sm) {
          //    margin-right:66.66666667%;
          //  }
          //}
        }
        // Card Content Alignment field settings
        &.paragraph--alignment-top {
          align-self: flex-start;
        }
        &.paragraph--alignment-bottom {
          align-self: flex-end;
        }
      }
    }
  }
}
.paragraph.paragraph--color + .paragraph > .paragraph__column {
  padding-top: 0;
}