.jumbotron {
  padding-top:0!important;
  padding-bottom:0!important;
  margin-bottom:0!important;
  min-height:400px;
  p {
    font-size: $font-size-base!important;
    font-weight: $font-weight-300!important;
  }
  .block-block-content {
    margin-bottom: 0;
    padding: 0;
  }
  .field--name-field-card-body {
    > h1:nth-child(1),
    > h2:nth-child(1),
    > h3:nth-child(1),
    > h4:nth-child(1),
    > h5:nth-child(5),
    > h6:nth-child(6) {
      line-height:1.2;
      margin-top: 0!important;
      margin-bottom:18px;
    }
    a {
      border-bottom: 1px solid $link-color;
      &.btn {
        border-bottom:none;
      }
      &:hover.btn {
        border-bottom:none;
      }
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $link-hover-color;
      }
    }
  }
  .paragraph--type--full-column-hero,
  .paragraph--type--row-two-column-hero,
  .paragraph--type--row-three-column-hero {
    .row__title {
      float: left;
      width: 100%;
    }
  }
}