.row__title {
  text-align: center;
  h2 {
    margin-top:15px;
    margin-bottom:0;
  }
}
.field--name-field-row-background-image {
  [class^="hero__responsive_"] {
    -webkit-background-size:cover;
    background-size:cover;
    min-height: 460px;
  }
}