.paragraph {
    &.paragraph--width--tiny,
    &.paragraph--width--narrow,
    &.paragraph--width--medium,
    &.paragraph--width--wide,
    &.paragraph--width--full {
      .paragraph__column--container-wrapper {
        .container {
          width: 100%;
        }
      }
    }
  > .paragraph__column {
    .row__title {
      text-align: center;
      padding-left: 15px;
      padding-right:15px;
    }
    >.container {
      padding-left:0;
      padding-right:0;
      >.paragraph__title {
        // border-radius: $border-radius;
      }
    }
  }
    &.paragraph--color {
      > .paragraph__column {
        padding-top:0;
        padding-bottom:0;
      }
    }
  .paragraph__column--container-wrapper {
    padding-top: 30px;
    padding-bottom:30px;
      @media (max-width: $screen-sm-min) {
        display: block;
        padding-bottom:15px;
      }
      .container {
        display: flex;
        flex-wrap: no-wrap;
          @media (max-width: $screen-xs-max) {
            display: block;
        }
      }
      [class^="paragraph--type--bp-columns__"] {
        display: flex;
        @media (max-width: $screen-xs-max) {
          margin-bottom:15px;
          &:first-child {
            padding-left:0;
            padding-right:0;
          }
          &:last-child {
            padding-left:0;
            padding-right:0;
            margin-bottom:0px;
          }
        }
        .paragraph--type--card-basic {
          display: flex;
        }
        //&:first-child {
        //  padding-left:0;
        //}
        //&:last-child {
        //  padding-right:0;
        //}
      }
      .paragraph {
        &.paragraph--color {
          display: block;
          border-radius: $border-radius;
        }
        &.paragraph__card {
          > .paragraph__column {
            width: 100%;
            padding-top: 0;
            > .paragraph__title {
              // float: left;
              width:100%;
              background-color: $color-pacific-blue;
              // border-radius: $border-radius;
            }
            .field--name-field-card-title {
              color: $color-white;
              font-family: $font-family-meseo-sans-serif;
              font-size: floor(($font-size-base * 1.3));
              font-weight:$font-weight-500;
              padding:8px 12px;
            }
            .field--name-field-card-body {
              float: left;
              padding: 9px;
              width: 100%;
              > h1,h2,h3,h4,h5,h6 {
                &:first-child {
                  margin-top:10px;
                }
              }
            }
            .field--name-field-card-background-image {
              //line-height:0; // body line height override
              [class^="hero__responsive_"] {
                -webkit-background-size:cover;
                background-size:cover;
                min-height: 1px;
              }
            }
          }
        }
        &.paragraph--type--card-basic {
          &.paragraph--width--tiny,
          &.paragraph--width--narrow,
          &.paragraph--width--medium,
          &.paragraph--width--wide,
           &.paragraph--width--full {
            padding-right:0;
            padding-left:0;
          }
          &.paragraph--width--tiny.paragraph--alignment.paragraph--alignment-right {
            @media (min-width: $screen-sm) {
              margin-left:66.66666667%;
            }
          }
          &.paragraph--width--tiny.paragraph--alignment.paragraph--alignment-left,
          &.paragraph--width--narrow.paragraph--alignment.paragraph--alignment-left,
          &.paragraph--width--medium.paragraph--alignment.paragraph--alignment-left,
          &.paragraph--width--wide.paragraph--alignment.paragraph--alignment-left {
            @media (min-width: $screen-sm) {
              margin-left:0;
            }
          }
          &.paragraph--width--narrow.paragraph--alignment.paragraph--alignment-right {
            @media (min-width: $screen-sm) {
              margin-left:50%;
            }
          }
          &.paragraph--width--medium.paragraph--alignment.paragraph--alignment-right {
            @media (min-width: $screen-sm) {
              margin-left: 33.33333333%;
            }
          }
          &.paragraph--width--wide.paragraph--alignment.paragraph--alignment-right {
            @media (min-width: $screen-sm) {
              margin-left: 16.66666667%;
            }
          }
        }
        // Card Content Alignment field settings
        &.paragraph--alignment-top {
          align-self: flex-start;
        }
        &.paragraph--alignment-bottom {
          align-self: flex-end;
        }
      }
    }
  //}
}


.main-container .paragraph .paragraph__column--container-wrapper .container {
  width: 100%;
}
.paragraph.paragraph--color + .paragraph > .paragraph__column {
  padding-top: 0;
}
.views-col {
  padding-right:15px;
}

.paragraph__title
{
	// float: left;
	width: 100%;
	background-color: #009add;
	// border-radius: .3rem;
}

.viewsreference--view-title
{
	color: #fff;

	font-size: 22px;

	font-weight: 500;
	

			.paragraph__title
			{
				padding: 8px 12px;
                margin-bottom:20px;
			}
}
#views-exposed-form-references-recent-nodes-ref-nodes .form-type-select
{
  margin-top:10px;
}

.view-article-blocks .more-link a,
.view-references-recent-nodes .more-link a
{
  text-indent:-9999px;
  display:block;
  background: url("../images/rss.png") no-repeat right top;
  width: 20px;
  height:20px;
  margin-top:10px;
}
.view-article-blocks .view-footer a
{
  margin-top:10px;
}
.view-article-blocks .view-footer {
  padding-left: 0px;
}
.views-exposed-form#views-exposed-form-references-recent-nodes-ref-nodes {
  padding-left: 0px;
}
.view-article-blocks .view-footer a,
.js-form-item-field-article-type-target-id
{
float:left;
}
#views-exposed-form-references-recent-nodes-ref-nodes label.control-label
{
  padding-right:10px;
}
.view-article-blocks .more-link a
{
  margin-top:10px;
}
.view-references-recent-nodes .views-row,
.view-article-blocks .views-row
{
  margin-bottom:10px;

}
select#cal_selectbox
{
	margin-bottom:10px !important;
}
.path-calendar-field-date ol.breadcrumb
{
	display:none;
}
.title--alignment-center {
  text-align: center;
}
.title--alignment-left {
  text-align: left;
}
.title--alignment-right {
  text-align: right;
}
.view-article-blocks, .view-references-recent-nodes {
  .views-row {
    .views-field-created {
      text-transform: uppercase;
      font-size: 14px;
    }
  }
}
#views-exposed-form-references-recent-nodes-ref-nodes label.control-label {
  text-transform: uppercase;
  font-size: 14px;
}
.paragraph--type--bp-view {
  .paragraph__title {
    margin-bottom: 10px;
  }
}
.region-content :not(.region-footer) {
  .paragraph {
    .paragraph__column {
      .paragraph__column--container-wrapper {
        .paragraph--type--card-basic, .paragraph--type--bp-view {
          .paragraph__column {
            .paragraph__title {
              background-color: transparent;
              .field--name-field-card-title {
                color: $color-black;
                font-size: 32px;
                font-weight: $font-weight-500;
              }
            }
            .field--type-viewsreference {
              padding-left: 12px;
            }
            .field--name-field-card-body {
              p {
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
.paragraph--type--card-basic.card_border, .paragraph--type--bp-view.card_border {
  border-style: solid;
  border-color: #d8d8d8;
  padding: 25px;
  .paragraph__title {
    h3 {
      margin-top: 0px;
    }
  }
  .paragraph__title.title_color {

  }
  p:last-child {
    margin: 0;
  }
}
.paragraph--type--card-basic.card_shadow, .paragraph--type--bp-view.card_shadow {
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.15);
  padding: 25px;
  .paragraph__title {
    h3 {
      margin-top: 0px;
    }
  }
  .paragraph__title.title_color {

  }
  p:last-child {
    margin: 0;
  }
}
.region-content :not(.region-footer) {
  .paragraph {
    .paragraph__column {
      .paragraph__column--container-wrapper {
        .paragraph--type--card-basic, .paragraph--type--bp-view {
          .paragraph__column {
            .paragraph__title.title_color {
              .field--name-field-card-title {
                font-size: 23px;
              }
            }
          }
        }
      }
    }
  }
}