article.promoted-search
{
background-color: #f4fffe;
  padding:10px;


  .promotedLabel
  {
    background-color: #C70039;
    font-weight:bold;
    color:white;
    padding:5px;
    margin-bottom:10px;
  }
}
.view-acquia-search
{
  h2 {
    font-family: "museo-sans",sans-serif;
    margin: 0;
    font-size: 21px;
  }

    a {
      text-decoration:underline;
    }
  .views-row
  {
    margin-bottom:10px;
  }
}
 h2.search-results
 {
   font-size:24px;
   color: #393939;
   font-weight: normal;
   margin:10px 0px 10px 0px;
 }
article.omitted-search
  {
  margin:10px 10px;
  padding:0 0 10px 0;
  border-bottom:1px solid  #e7e7e7;
}
.related-tags .field--item {
  display: inline;
}

.form-control
{
  padding:20px;
  margin:10px 5px;
}

.block-views-exposed-filter-blockacquia-search-search-block .control-label
{
  color:#494949;
  font-weight: normal;
}
#views-exposed-form-acquia-search-search-block
{
  padding-bottom:30px;
}
#advancedSearch
{
  display:none;
}
#searchForm .control-label
{
  display:none;
}


.highlight {
  font-weight: bold;
  text-decoration: underline;
  color: #0a6eb4;
}

.promoted-search .field--name-field-article-tags .field--item a {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  background: #22c7bf;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display:block;
  margin:10px 0;
}