.sidebar-nav,
.region-sidebar-first,
.region-sidebar-second {
  background-color: $color-gray-sand;
  .navbar-nav {
    float: none;
  }
  .nav {
    li {
      width: 100%;
      a {
        color: $color-black;
        padding-left: 18px;
        font-size: ceil(($font-size-base * 1.05));
        transition: background-color 0.3s ease-out;
        @media (max-width: $screen-xs-min) {
          padding-left: 32px;
        }
        &.is-active {
          background-color: darken($color-gray-sand, 4.5%); // #eaeaea
          border-left: 4px solid $color-pacific-blue;
          font-weight: $font-weight-500;
          padding-left: 14px;
          @media (max-width: $screen-xs-min) {
            margin:0 15px;
          }
        }
        &:hover {
          background-color: darken($color-gray-sand, 4.5%); // #eaeaea
          border-left: 4px solid $color-pacific-blue;
          //font-weight: $font-weight-500;
          padding-left: 14px;
        }
      }
    }
  }
}