.path-taxonomy h3 {
 margin:10px 0px 0px 0px;
 a {
  text-decoration: underline;
  font-size: 21px;
 }
}

.path-taxonomy .feed-icons a {
 text-indent: -9999px;
 display: block;
 background: url("../images/rss.png") no-repeat right top;
 width: 20px;
 height: 20px;
 margin-top: 10px;
}
.view-taxonomy-term {
 .article.teaser {
   h2 {
    margin-top: 15px;
    margin-bottom: 5px;
   }
 }
}