.top-nav {
  background-color: $color-brand-slate;
  margin-bottom: 24px;
  @media (max-width: $screen-xs-max) {
    position: absolute;
    background-color: transparent;
    margin-bottom: 0;
    top: 8px;
    width: 100%;
    z-index: 9999;
  }
  @media (min-width: $screen-md-min) {
    text-align: center;
  }
  .navbar {
    border: none;
    line-height: 0;
    margin-bottom:0;
    @media (min-width: $screen-sm-min) {
      border-radius: 0px!important;
    }
    &.navbar-default {
      background-color: transparent;
    }
    .navbar-collapse {
      @media (max-width: $screen-xs-min) {
        position: relative;
        top:1px;
        padding:0;
        //background-color: $color-brand-slate;
      }
      @media (min-width: $screen-sm-min) {
        margin-right: -$navbar-padding-horizontal * 3; // 45px
        margin-left:  -$navbar-padding-horizontal * 3; // 45px
      }
      @media (min-width: $screen-md-min) {
        margin-right: -$navbar-padding-horizontal; // 15px
        margin-left:  -$navbar-padding-horizontal; // 15px
      }
    }
    .navbar-nav {
      display: inline-block;
      float: none;
      @media (max-width: $screen-xs-max) {
        //margin: 6.5px 0px;
        margin:0;
        width:100%;
      }
      li > a {
        color: #ffffff;
        //background-color: $color-brand-slate;
        transition: background-color 0.3s ease-out;
        position: relative;
        overflow: hidden;
        &:focus {
          color: #ffffff;
          background-color: darken($color-brand-slate, 6%);
        }
        //@media (min-width: $screen-lg-min) {
        //  &:after {
        //    font-family: FontAwesome;
        //    content: '\f107';
        //    //position: absolute;
        //    //top: 100%;
        //    //left: 50%;
        //    //content: "";
        //    position: absolute;
        //    //background: $color-pacific-blue;
        //    //border-radius: 45%;
        //    top: 100%;
        //    left:50%;
        //    //width: 5px;
        //    //height: 5px;
        //
        //    transition: all 0.3s ease;
        //    transform: translate(-50%, 0%);
        //
        //  }
        //}
        &:hover:after {
          transform: translate(-50%, calc(-100% - 14px));
        }
        &:hover {
          //background-color: darken($color-brand-slate, 6%);
          background-color: rgba(0,0,0, 0.25);
          color: #ffffff;
        }
        @media (min-width: $screen-md-min) {
          padding-top: ceil(($navbar-height / 2.8));  // 18px
          padding-bottom: ceil(($navbar-height / 2.8)); // 18px
        }
      }
      > .active {
        > a {
          //background-color: darken($color-brand-slate, 10%); // #eaeaea
          background-color: rgba(0,0,0, 0.25);
          &:hover {
            //background-color: darken($color-brand-slate, 10%);
            background-color: rgba(0,0,0, 0.25);
          }
        }
        &.open {
          > a, &:hover {
            //background-color: darken($color-brand-slate, 10%);
            background-color: rgba(0,0,0, 0.25);
          }
        }
      }
    }
    .caret {
      border: none;
      margin-left:0;
      display: inline;
      &:before {
        font-family: FontAwesome;
        content: '\f107';
        position: absolute;
        top: 62%;
        left: 47%;
        @media (max-width: $screen-xs-min) {
          position: static;
        }
        //transition: all 0.3s ease;
        //transform: translate(-50%, 0%);
      }
      //&:hover:before {
      //  transform: translate(-50%, calc(-100% - 0px));
      //}
    }
    .dropdown-menu {
      box-shadow: none;
      border-radius: 0px;
      border: none;
      padding:0;
      width: 100%;
      > li > a {
        font-weight: $font-weight-300;
        background-color: darken($color-brand-slate, 6%);
        color: #fff!important;
        padding: 10px 15px 10px 25px!important;
        &:hover {
          background-color: darken($color-brand-slate, 10%)!important; // #eaeaea
        }
        &:hover:before {
          content: "";
          position: absolute;
          background: lighten($color-brand-slate, 20%);
          border-radius: 45%;
          top: 50%;
          left:15px;
          width: 5px;
          height: 5px;
        }
      }
      > .active {
        > a {
          background-color: darken($color-brand-slate, 10%)!important; // #eaeaea
          padding: 10px 15px 10px 25px;
          &:before, &:hover:before {
            content: "";
            position: absolute;
            background: $color-pacific-blue;
            border-radius: 45%;
            top: 50%;
            left:15px;
            width: 5px;
            height: 5px;
          }
        }
      }
    }
  }
}
//#navbar-collapse
//{
//  background-color: $color-brand-slate;
//}
