
.top-nav {
  background-color: $color-brand-slate;
  margin-bottom: 24px;
  text-align: center;
  width: 100%;
  @media (max-width: $screen-md-2-min) {
    position: absolute;
    background-color: transparent!important;
    margin-bottom: 0;
    text-align: left;
    top: 20px;
    right: 0;
    z-index: 500;
    .container {
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }
  }
  .sf-accordion-toggle {
    a {
      color: $color-brand-green;
      float: right;
      margin-right: 1.3em;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      @media (min-width: $screen-md) {
        margin-right: 2.7em;
      }
      span:after {
        content: '\f0c9';
        font-family: FontAwesome;
        margin-left: 10px;
      }
      &.sf-expanded {
        span:after {
          content: '\f00d';
          margin-left: 11px;
        }
      }
    }
  }
  .sf-menu {
    background-color: $color-brand-slate;
    display: inline-block;
    vertical-align: top;
    @media (max-width: $screen-md) {
      &.sf-accordion.sf-expanded {
        position: relative;
        top: 22px!important;
      }
    }
    @media (max-width: $screen-md-2) {
      &.sf-accordion.sf-expanded {
        position: relative;
        top: 25px!important;
      }
    }
    li {
      @media (max-width: $screen-md-2) {
        &.menuparent li:last-child {
          border-bottom: none;
        }
      }
      a, span.nolink {
        font-family: $font-family-meseo-sans-serif;
        font-weight: $font-weight-500;
        text-decoration: none;
        padding: 1.265em 1.5em;
        color: #fff;
        transition: all 200ms ease-in-out;
        &:hover {
          background-color: rgba(0,0,0, 0.15);
        }
        &.sf-with-ul {
          padding-right: 1.5em;
        }
        @media (max-width: $screen-md-2) {
          border-bottom: 1px solid rgba(0,0,0,0.2);
        }
      }
    }
    ul {
      li {
        background-color: $color-brand-slate;
        text-align: left;
        &.sf-clone-parent {
          background-color: transparent;
        }
        a {
          &:hover:before {
            content: "";
            position: absolute;
            background: rgba(255,255,255,0.5);
            border-radius: 45%;
            top: 45%;
            left:15px;
            width: 5px;
            height: 5px;
            &:not(.sf-with-ul) {
              content: none;
            }
            @media (max-width: $screen-md-2) {
              display: none;
            }
          }
          &.sf-with-ul {
            &:hover:before {
              content: none;
            }
            @media (min-width: $screen-md-2 + 1) {
              .sf-sub-indicator {
                top: 50%;
                &:after {
                  position: absolute;
                  left: 90%;
                  height: 14px;
                  transform: rotate(-90deg);
                }
              }
            }
            + ul {
              top: 0;
            }
          }
        }
        @media (max-width: $screen-md-2) {
          a {
            padding-left: 2.5em;
            &.sf-accordion-button {
              padding-left: 1.5em;
            }
          }
        }
      }
    }
    &.sf-accordion {
      .menuparent {
        position: relative;
        &.sf-expanded {
          .sf-accordion-button {
            &:after {
              font-family: FontAwesome;
              content: '\f068';
            }
          }
          ul  {
            .sf-accordion-button {
              &:after {
                font-family: FontAwesome;
                content: '\f067';
              }
            }
            .sf-expanded {
              .sf-accordion-button {
                &:after {
                  font-family: FontAwesome;
                  content: '\f068';
                }
              }
            }
          }
        }
        .sf-accordion-button {
          //border-bottom: 0;
          border-bottom: 1px solid rgba(0,0,0,0.1);
          border-left: 1px solid rgba(0,0,0,0.2);
          background-color: rgba(0,0,0,0.1);
          position: absolute;
          right: 0;
          z-index: 2;
          &:after {
            margin: 0;
            font-family: FontAwesome;
            font-size: 13px;
            content: '\f067';
          }
        }
        .sf-sub-indicator {
          width: inherit;
          top: 50%;
          right: 0;
          width: 60px;
          height: 60px;
          border-left: 1px solid rgba(0,0,0,0.2);
          background-color: rgba(255,255,255,0.05);
          &:after {
            font-family: FontAwesome;
            content: '\f107';
            top: 36%;
            left: 42%;
          }
        }
      }
    }
    .sf-sub-indicator {
      opacity: 1;
      width: 100%;
      top: 73%;
      right: 0;
      &:after {
        font-family: FontAwesome;
        content: '\f107';
        position: absolute;
        left: 47%;
      }
    }
  }
  ul.sf-menu li:hover > ul,
  ul.sf-menu li.sfHover > ul {
    left: 0;
    top: 3.5em;
  }
}

