# Ignore configuration files that may contain sensitive information.
docroot/sites/*/settings.local*.php

# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/default/drushrc.php
docroot/sites/*/files
docroot/sites/*/private
!docroot/sites/all/services.yml
!docroot/sites/all/