body {
  font-size: $font-size-base;
  font-weight: $font-weight-300;
  color: $color-black!important;
  display: flex;
  min-height: 100vh!important;
  flex-direction: column;
}
a {
  border-bottom: 1px solid $link-color;
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid $link-hover-color;
  }
}