body {
  font-size: $font-size-base;
  font-weight: $font-weight-300;
  color: $color-black!important;
  display: flex;
  min-height: 100vh!important;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; // Firefox on iOS
}
i {
  font-style: normal;
}
