body {
  font-weight: $font-weight-300;
  color: $color-black!important;
  display: flex;
  min-height: 100vh!important;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; // Firefox on iOS
  @media (min-width: $screen-xxs) {
    font-size: 16px;
  }
  @media (min-width: $screen-md-2) {
    font-size: $font-size-base;
  }
}
i {
  font-style: normal;
}
