.view-content {
   .row {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: whitesmoke;
    color: #000 !important;
    h4 {
      margin-top: 6px;
      margin-bottom: 0px;
    }
 }
}