.view-event-cards {
  .col-sm-3 {
    display: flex;
    .display_image {
      .field--name-field-display-image {
        margin-top: 15px;
        margin-right: 20px;
        border: solid 4px #fff;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
      }
    }
    .field--item {
      display: inline-block;
    }
    .event_card {
      position: relative;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      margin-right: 15px;
      margin-top: 25px;
      margin-bottom: 25px;
      padding-top: 10px;
      padding-bottom: 5px;
      padding-left: 20px;
      background: whitesmoke;
      color: #000 !important;
    }
    .btn {
      padding: 12px 16px 2px;
      font-size: 20px;
      line-height: .75;
      border-radius: 6px;
      background-color: #fff;
      border-color: #0088c4;
    }
  }
}

.field--name-field-add-to-cal {
  padding: 15px 0px;
}

.event--organization {
  .field {
    margin: 0 0 12.5px;
  }
  .field--name-field-article-tags {
    .field--item {
      display: inline-block;
    }
  }
}
.event {
  .container {
    margin-top: 25px;
    padding-left: 0px;
  }
  .row {
    margin-top: 28px
  }
}