/**
 * Icon styles.
 */
a {
  &.icon-before .glyphicon {
    margin-right: .25em;
  }
  &.icon-after .glyphicon {
    margin-left: .25em;
  }
}

.btn {
  &.icon-before .glyphicon {
    margin-left: -.25em;
    margin-right: .25em;
  }
  &.icon-after .glyphicon {
    margin-left: .25em;
    margin-right: -.25em;
  }
}


.paragraph__icon {
  .fontawesome-icons {
    font-size: 5vw;
    padding-left: 2rem;
    padding-right: 2rem;
    .fontawesome-icon svg {
      color: $color-black;
    }
  }
}
