/**
 * Icon styles.
 */
a {
  &.icon-before .glyphicon {
    margin-right: .25em;
  }
  &.icon-after .glyphicon {
    margin-left: .25em;
  }
}

.btn {
  &.icon-before .glyphicon {
    margin-left: -.25em;
    margin-right: .25em;
  }
  &.icon-after .glyphicon {
    margin-left: .25em;
    margin-right: -.25em;
  }
}


.paragraph--type--card-icon {
  .fontawesome-icons {
    font-size: 5vw
  }
}
.paragraph--type--bp-columns__3col {
  .fontawesome-icons{
    font-size: 10em;
  }
}