.jumbotron .paragraph--type--full-column-hero,
.jumbotron .paragraph--type--row-two-column-hero,
.jumbotron .paragraph--type--row-three-column-hero,
.jumbotron .paragraph--type--bp-columns-two-uneven,
.jumbotron .paragraph--type--bp-columns-three-uneven,
.jumbotron .paragraph--type--bp-columns {
  .paragraph__column {
    padding-left:0!important;
    padding-right:0!important;
    padding-bottom: 0!important;
    &--container-wrapper {
      float: left;
      width: 100%;
    }
    .field--name-field-row-background-image {
      line-height:0;
    }
  }
  @media (max-width: 767px) {
    .paragraph--type--bp-columns__3col,
    .paragraph--type--bp-columns__4col,
    .paragraph--type--bp-columns__5col,
    .paragraph--type--bp-columns__6col {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
  .paragraph--type--bp-columns__6col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .paragraph--type--bp-columns__6col {
      float: left;
      width: 16.66666667%;
    }
  }
  .paragraph--type--bp-columns__5col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .paragraph--type--bp-columns__5col {
      float: left;
      width: 20%;
    }
  }
  .paragraph--type--bp-columns__4col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .paragraph--type--bp-columns__4col {
      float: left;
      width: 25%;
    }
  }
  .paragraph--type--bp-columns__3col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .paragraph--type--bp-columns__2col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .paragraph--type--bp-columns__2col {
      float: left;
      width: 50%;
    }
  }
  .paragraph--type--bp-columns__1col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .paragraph--type--bp-columns__1col {
      float: left;
      width: 100%;
    }
  }
  .paragraph__card {
    float: left;
    width: 100%;
    .paragraph--type--card-basic {
      &.paragraph--color {
        border-radius: $border-radius;
        float: left;
        padding:15px;
        .paragraph__column {
          margin-top: 0;
          padding:0 0;
          h1,h2,h3,h4,h5,h6 {
            margin-top:0;
          }
        }
      }
      .paragraph__column {
        .field--name-field-card-body {
        }
      }
    }
  }
}