.jumbotron {
  padding-top:0!important;
  padding-bottom:0!important;
  margin-bottom:0!important;
  background-color: transparent!important;
  .block-block-content {
    margin-bottom: 0;
    padding: 0;
  }
  .paragraph--type--full-column-hero {
    > .paragraph__column {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .paragraph--type--card-basic {
      &.paragraph--color {
        border-radius: $border-radius;
        float: left;
        position: relative;
        top: 100px;
        left: 50%;
        right: 50%;
        margin-top:100px;
        //margin-left: 15px;
        //margin-right: 15px;
        transform: translate(-50%, -50%);
        width: auto;
        .paragraph__column {
          margin-top: 0;
        }
      }
      .paragraph__column {
        margin-top:100px;
        .field--name-field-card-body {
          color: #fff;
        }
      }
    }
    [class^="hero__responsive_"] {
      -webkit-background-size:cover;
      background-size:cover;
      min-height: 460px;
    }
  }
}