.jumbotron {
  padding-top:0!important;
  padding-bottom:0!important;
  margin-bottom:0!important;
  background-color: transparent!important;
  //position: relative;
  //top:-71px;
  .block-block-content {
    margin-bottom: 0;
    padding: 0;
  }
  .paragraph--type--full-column-hero {
    > .paragraph__column {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .paragraph--type--card-basic {
      .paragraph__column {
        position: absolute;
        left: 50%;
        right: 50%;
        top: 15%;
        transform: translate(-50%, -50%);
        width: 1370px;
        .field--name-field-card-body {
          color: #fff;
        }
      }
    }
  }
}