.btn-modal {
  .field--name-field-icon-button {
    margin-bottom: .5em;
  }
}
.modal-content {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: $border-radius!important;
  border-bottom-right-radius: $border-radius!important;
  .paragraph__card {
    background-color: #fff;
    border: 10px solid white;
  }
  .field--name-field-webform {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.modal-header {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
.modal--close {
  opacity: 1!important;
  font-weight: $font-weight-500!important;
}
.field--name-bp-modal-title {
  font-size: floor(($font-size-base * 1.3));
  font-weight: $font-weight-500;
}
.modal {
  .modal-dialog {
    .modal-content {
      .paragraph {
        &.paragraph__card {
          > .paragraph__column {
            > .paragraph__title {
              background-color: #fff;
              .field--name-field-card-title {
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}