/* Search Module css overrides
 * 1. Header - Search
 * 2. Page Results - Search Form
 * 3. Page Results - Results
 */
// [1]
.search__form {
  &--input {
    color: darken($color-brand-green, 1%);
    &:focus {
      border-bottom-color: darken($color-brand-green, 1%);
      outline-color: darken($color-brand-green, 1%);
    }
    &::placeholder {
      color: darken($color-brand-green, 1%);  // Contrast Ratio 3.68
      font-style: italic;
    }
  }
}
// [2]
.search-page__input {
  .search-page__input--field {
    background-color: #f1f1f1;
    float: left;
    padding: .55em 1em;
    width: 100%;
    input.form-control {
      background-color: transparent;
      border: 0;
      border-bottom-color: #cfcfcf;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      box-shadow: none;
      font-size: 22px;
      color: darken($color-brand-green, 1%);
      padding: 1.182em 0;
      &:focus {
        border-bottom-color: darken($color-brand-green, 1%);
        outline: thin dashed darken($color-brand-green, 1%);
        //outline-color: darken($color-brand-green, 1%);
      }
      &::placeholder {
        color: darken($color-brand-green, 1%);  // Contrast Ratio 3.68
        font-style: italic;
      }
    }
  }
  .form-item-search {
    width: 100%;
    > input {
      width: 100%!important;
    }
  }
  .search-page__button--submit {
    button {
      &.btn-primary {
        background-color: transparent;
        border-color: transparent;
        margin: 0 .75em 0 1.5em;
        padding: 0;
      }
      &:before {
        color: $color-brand-green;
        font-family: FontAwesome;
        font-size: 25px;
        content: "\f002";
      }
    }
  }
  .search-page__button--reset {
    button {
      &.btn-default {
        border: 0;
        color: $color-brand-slate;
        font-weight: $font-weight-300;
        font-size: 20px;
        text-decoration: underline;
        &:hover {
          background-color: transparent;
          color: $color-brand-green;
          text-decoration: none;
        }
      }
    }
  }
  .input-group-btn {
    width: 1%!important;
  }
}
.search-page__search--wrapper {
  margin-bottom: 2em;
}
.search-page--refine-wrapper {
  margin-bottom: 2.5em;
  @media (max-width: $screen-sm-min) {
    margin-bottom: 0;
  }
  p {
    font-size: 19px;
    @media (max-width: $screen-xs-max) {
      color: $color-brand-green;
      border-top: 1px solid #cfcfcf;
      padding: 1em 0;
      margin-bottom: 0;
      &:after {
        font-family: FontAwesome;
        font-size: 16px;
        content: "\f067";
        padding-left: .5em;
      }
    }
    &.refine-results--close-icon {
      &:after {
        content: "\f068";
      }
    }
  }
  p, label {
    font-weight: $font-weight-500;
  }
  label {
    color: $color-brand-slate;

  }
  // Hides Refine Result container
  @media (max-width: $screen-sm-min) {
    .refine-results {
      display: none;
      margin-bottom: 1.5em;
    }
  }
  .search-page__list--type {
    float: left;
    margin-right: 2em;
    label {
      display: block;
      margin-bottom: .5em;
    }
    .select-wrapper:after {
      color: $color-brand-slate;
      margin-top: -.4em;
    }
    @media (max-width: $screen-sm-min) {
      width: 100%;
      margin-right: 0;
      .select-wrapper {
        width: 100%;
      }
    }
  }
  .search-page__input--tags {
    float: left;
    label {
      display: block;
      margin-bottom: .5em;
    }
  }
  .search-page__date {
    float: left;
    @media (max-width: $screen-xs-max) {
      float: none;
    }
    label {
      position: absolute;
      left: -9999px;
    }
    &--title {
      color: $color-brand-slate;
      font-weight: $font-weight-500;
      margin-bottom: .5em;
    }
    .form-item-created {
      margin-right: .5em;
      @media (max-width: $screen-xs-max) {
        float: left;
      }
    }
    .form-item-created-lt {
      margin-right: 1em;
      @media (max-width: $screen-xs-max) {
        float: left;
      }
    }
    .button--date-range {
      border-color: $color-brand-green;
      color: $color-brand-green;
      &:hover,
      &:active {
        background-color: $color-brand-green;
        color: $color-white;
      }
    }
  }
}
// [3]
.search-page {
  a {
    &:focus {
      text-decoration: none;
    }
  }
}
.search-page__result {
  padding: .75em 0;
  h3 {
    padding-bottom: .1em;
    font-family: $font-family-sans-serif;
    margin-top: 0;
  }
  a {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    &:hover {
      border-bottom-style: none;
      text-decoration: none;
    }
  }
  &--promoted {
    margin-bottom: 1.5em;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $screen-xs-min) {
      display: block;
    }
    .search-result--content {
      background-color: darken($color-sky-blue, 5%);  // Contrast Ratio 4.52
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      color: $color-white;
      font-size: $font-size-base * 1.15;
      font-weight: $font-weight-100;
      height: 100%;
      -webkit-transition: background-color ease-in-out .3s;
      -moz-transition: background-color ease-in-out .3s;
      -ms-transition: background-color ease-in-out .3s;
      -o-transition: background-color ease-in-out .3s;
      transition: background-color ease-in-out .3s;
      &:hover {
        background-color: darken($color-sky-blue, 10%);
      }
      @media (max-width: $screen-xs-min) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
      }
      h3 {
        font-size: $font-size-h3 * 1.1;
      }
        a {
          color: $color-white;
        }
    }
    .search-result--tags {
      background-color: $color-grey-sand;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      height: 100%;
      -webkit-transition: background-color ease-in-out .3s;
      -moz-transition: background-color ease-in-out .3s;
      -ms-transition: background-color ease-in-out .3s;
      -o-transition: background-color ease-in-out .3s;
      transition: background-color ease-in-out .3s;
      &:hover {
        background-color: darken($color-grey-sand, 5%);
      }
      @media (max-width: $screen-xs-min) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
      }
      .field--label {
        position: absolute;
        left: -9999px;
      }
      .field--item {
        margin-bottom: .75em;
        a {
          color: #2A74A2;
          font-size: $font-size-base * 1.2;
        }
      }
    }
  }
  &--omitted {
    border-bottom: 1px solid $color-brand-silver;
    -webkit-transition: background-color ease-in-out .3s;
    -moz-transition: background-color ease-in-out .3s;
    -ms-transition: background-color ease-in-out .3s;
    -o-transition: background-color ease-in-out .3s;
    transition: background-color ease-in-out .3s;
    &:hover {
      background-color: $color-grey-sand;
    }
    .search-result--content {
      h3 {
        font-size: floor(($font-size-base * 1.3));
      }
    }
    .search-result--tags {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 1.25em;
      .field--label {
        font-weight: $font-weight-500;
      }
      .field--item {
        display: inline-block;
        margin-right: .5em;
      }
    }
  }
}

//.search-page__result--promoted,
//article.search-page__result--promoted  {
//  background-color: green;
//  //padding:10px;
//  h3 {
//    background-color: #C70039;
//    padding:5px;
//    margin-bottom:10px;
//    font-family: "museo-sans",sans-serif;
//    margin: 0;
//    font-size: 21px;
//    a {
//      text-decoration: underline;
//      color:white;
//    }
//  }
//  .search-page__result--promoted h3,
//  .promotedLabel
//  {
//    background-color: #C70039;
//    font-weight:bold;
//    color:white;
//    padding:5px;
//    margin-bottom:10px;
//  }
//}
//
//
//.view-acquia-search-fields,
//.view-acquia-search
//{
//  //padding:20px;
//
//  h3 {
//    font-family: "museo-sans",sans-serif;
//    margin: 0;
//    font-size: 21px;
//  }
//
//  a {
//    text-decoration:underline;
//  }
//  .views-row
//  {
//    margin-bottom:20px;
//  }
//}
//h3.search-results
//{
//  font-size:24px;
//  color: #393939;
//  font-weight: normal;
//  margin:10px 0px 10px 0px;
//}
//article.omitted-search
//{
//  margin:10px 10px;
//  padding:0 0 10px 0;
//  border-bottom:1px solid  #e7e7e7;
//}
//.related-tags .field--item {
//  display: inline;
//}
//
//.related-tags.col-sm-3 .field--label
//{
//  display:none;
//}
//.form-control
//{
//  padding:20px;
//}
////#dateRange
////{
////  margin-top:20px;
////}
//.block-views-exposed-filter-blockacquia-search-search-block .control-label
//{
//  color:#494949;
//  font-weight: normal;
//}
//#views-exposed-form-acquia-search-search-block
//{
//  padding-bottom:30px;
//}
//
////#searchForm .control-label
////{
////  display:none;
////}
//
//.highlight {
//  font-weight: bold;
//  text-decoration: underline;
//}
//
//.search-page__result--promoted .related-tags a,
//.search-page__result--promoted .field--name-field-article-tags .field--item a {
//  -webkit-border-radius: 9;
//  -moz-border-radius: 9;
//  border-radius: 9px;
//  font-family: Arial;
//  color: #ffffff;
//  font-size: 22px;
//  background: #22c7bf;
//  padding: 10px 20px 10px 20px;
//  text-decoration: none;
//  display:block;
//  margin:10px 0;
//}
//.view-acquia-search-fields .search-page__result--promoted
//
//h3 {
//
//  margin:0px 0px 10px 0px;
//
//  a {
//    font-family: "museo-sans", sans-serif;
//    text-decoration: underline;
//    font-size: 18px;
//  }
//}
//
//
//.highlight:before {
//  color: red;
//  content: "";
//}
////.view-acquia-search-fields
//
//ul{
//  list-style-type: none;
//  padding:0px;
//}
//
//.ommited .field--name-field-article-tags
//{
//  border-top:1px solid #d1d1d1;
//  border-bottom:1px solid #d1d1d1;
//  margin-top:10px;
//  margin-bottom:15px;
//  padding:5px;
//
//  li{
//    float:left;
//    display:block;
//    margin-left:5px;
//  }
//
//}
//
//.form-inline .form-control {
//  width: inherit;
//}

